.authContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authComponentContainer {
    flex-basis: 48%;
}

.authContainer .authBgImg {
    flex-basis: 48%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .authContainer .authBgImg{
        display: none;
    }

    .authComponentContainer{
        flex-basis: 100%;
    }
}