.formContainer {
    display: flex;
    justify-content: center;
    color: var(--second-color);
}

.formContainer h2 {
    font-size: 24px;
    margin: 20px 0 25px 0;
    color: var(--second-color);
}

.registerFormLogo img {
    width: 120px;
}

.formContainer .formInput {
    padding: 10px;
    width: 500px;
    color: var(--second-color);
}

.formContainer a {
    display: block;
    margin-top: 20px;
}

@media (max-width: 768px){
    .formContainer .formInput {
        width: 250px;
    }

}